<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')
 }}">
 <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon">
  <title>Mnemosyne</title>
</head>
<body>
  <div class="container">
      <img id="video" src="{{ url_for('video') }}" width="640" height="480">
      <button class="button" onclick="captureImage()">Capture Image</button>
      <div id="status"></div>
  </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>