<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon">
  <title>Register - Mnemosyne</title>
</head>
<body>
  <div class="container">
    <h1>Register</h1>
    <form id="registerForm" class="register-form">
      <div class="form-group">
        <label for="matric_no">Matric Number:</label>
        <input type="text" id="matric_no" class="form-control" placeholder="20/SCI01/001" required>
      </div>
      <div class="form-group">
        <label for="name">Full Name:</label>
        <input type="text" id="name" class="form-control" placeholder="John Doe" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" placeholder="johndoe@email.com" required>
      </div>
      <div class="form-group">
        <label for="program">Program:</label>
        <input type="text" id="program" class="form-control" placeholder="Computer Science" required>
      </div>
      <div class="form-group">
        <label for="year_of_study">Year of Study:</label>
        <input type="number" id="year_of_study" class="form-control" placeholder="2020" required>
      </div>
      <div class="form-group">
        <label for="date">Date of Birth:</label>
        <input type="date" id="date_of_birth" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="tel">Phone Number</label>
        <input type="tel" id="phone_number" class="form-control" placeholder="08123456789" required>
      </div>
      <button type="button" class="button" onclick="submitRegistration()">Submit</button>
    </form>
    <div id="status"></div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
